{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-plugin-update-version-in-files",
      {
        "files": [
          "version.js",
          "README.md"
        ],
        "placeholder": "0.0.0-automated"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "README.md",
          "version.js"
        ],
        "message": "chore(release): update version ${nextRelease.version} [skip ci]"
      }
    ],
    "@semantic-release/github"
  ]
}