{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/exec",
      {
        "publishCmd": "echo \"VERSION=${nextRelease.version}\" >> version.env"
      }
    ],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}