{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "semantic-release-plugin-update-version-in-files",
      {
        "files": [
          "/version.js",
          "/README.md"
        ],
        "placeholder": "0.0.0-automated"
      }
    ],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}